<div class="d-flex justify-content-center">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link" href="book-list/category/1">ศิลปะ/ออกแบบ/ตกแต่ง</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="book-list/category/2">การบริหาร การจัดการ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="book-list/category/3">หนังสือเด็ก</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="book-list/category/4">ตำรา/วิชาการ/อาชีพ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="book-list/category/5">วรรณกรรม</a>
    </li>
  </ul>
</div>
<div class="d-flex justify-content-center">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link" href="book-list/category/6">สังคม/มนุษย์/วิทยาศาสตร์</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="book-list/category/7">อาหาร และ เครื่องดื่ม</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="book-list/category/8">สันทนาการ/งานอดิเรก</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="book-list/category/9">ครอบครัว สุขภาพ</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="book-list/category/10">จิตวิทยา-พัฒนาตัวเอง</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="book-list/category/11">ท่องเที่ยว</a>
    </li>
  </ul>
</div>